<p>Hello,  <%= @user.first_name %></p>

<p>You received this email because some one ask for password reset on <%= @url %>.
	To reset password, click following link:
	<%= link_to "Reset password", edit_password_reset_url( @user.reset_token, email: @user.email ) %></p>
