<!DOCTYPE html>
<h1>Paroles atjaunošana</h1>

<p>Lai atjaunotu paroli, spiediet uz zemāk norādīto saiti:</p>

<%= edit_password_reset_url( @user.reset_token, email: @user.email ) %>

<p>Saite derīga divas stundas.</p>

<p>
Ja neesat pieprasījis paroles atjaunošanu, lūdzu ignorējiet šo vēstuli.
</p>



